<!-- views/home/about.js -->

<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <%- include('../partials/nav') %> 

    <div class="container mb-3">

        <h2 class="mb-3">About</h2>
        <p id="greeting">안녕하세요 저는 수원대학교 정보보호학과 15학번 박명범입니다. </p>
        <p>이 사이트의 코드는 <a href="https://github.com/mangbaam/board_nodejs">https://github.com/mangbaam/board_nodejs</a>에서 확인 가능합니다!</p>
    </div>
</body>
</html>